<br>  
<h3>
    Tasks

<br><br>
<div class="row">
    <button class="btn btn-primary pull-right" (click)="getSubbusiness()">
        Sub-bus
    </button>

    <button class="btn btn-primary pull-right" (click)="getFactory()">
        Factory
    </button>

    <button class="btn btn-primary pull-right" (click)="getProdLine()">
        Prod Line
    </button>
    <button class="btn btn-primary pull-right" (click)="getOperation()">
        Operation
    </button>         
</div>

<br>

<nb-card>
  <nb-card-header>
    Tasks
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onConfirmSave($event)"
      (editConfirm)="onEditConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>