<h3>
  Factories
  <br><br><br>
  <button class="btn btn-primary pull-right" (click)="addFactory()">
    Add new factory
  </button>
  <div class="clearfix"></div>
</h3>
<div class="row">
  <nb-card style="width: 100%;">
    <nb-card-body>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Factory Name</th>
            <th scope="col">Business</th>
            <th scope="col">Shift 1</th>
            <th scope="col">Shift 2</th>
            <th scope="col">Shift 3</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of factories">
            <td>{{f.id}}</td>
            <td><input *ngIf="isBeingEditedId == f.id" nbinput
                [(ngModel)]="f.name">{{ isBeingEditedId != f.id ? f.name: "" }}</td>
            <td><input *ngIf="isBeingEditedId == f.id" nbinput
                [(ngModel)]="f.business">{{ isBeingEditedId != f.id ? f.business: "" }}</td>
            <td><input *ngIf="isBeingEditedId == f.id" nbinput
                [(ngModel)]="f.shift1">{{ isBeingEditedId != f.id ? f.shift1: "" }}</td>
            <td><input *ngIf="isBeingEditedId == f.id" nbinput
                [(ngModel)]="f.shift2">{{ isBeingEditedId != f.id ? f.shift2: "" }}</td>
            <td><input *ngIf="isBeingEditedId == f.id" nbinput
                [(ngModel)]="f.shift3">{{ isBeingEditedId != f.id ? f.shift3: "" }}</td>
            <td>
              <button (click)="editFactory(f.id)"
                class="btn btn-primary">{{isBeingEditedId == f.id ? "Cancel" : "Edit"}}</button>&nbsp;
              <button *ngIf="isBeingEditedId == f.id" (click)="saveFactory(f.id)"
                class="btn btn-primary">Save</button>&nbsp;
              <button [disabled]="isBeingEditedId == f.id" (click)="deleteFactory(f.id)" class="btn btn-primary">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>